/* Common */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-nav: #000000;
    --upgrade-section: #080b12;
    --char-color: #787a7f;
    --titles-color: #ffffff;
    --playing-bar: #282828;
    --main-section: #141922;
}

body{
    background-color: var(--upgrade-section);
    color: var(--char-color);
    font-family: 'Montserrat';
    display: flex;
}
/* End Common */

/* Layout */
ul{
    list-style: none;
}

img{
    width: 25px;
}

.logo{
    padding: 1rem 0;
   img{
    width: 80%;
   }
}

header{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

main{
    background-color: var(--main-section);
}

.upgrade{
    width: 100%;
    padding: 2rem 0;
}



/* End Layout */



/* Header */

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--sidebar-nav);
    .upper-nav{
        line-height: 2.5rem;
         .nav-list{
        a{
            text-align: center;
            color: var(--char-color);
            text-decoration: none;
            &:hover{
                color: var(--titles-color);
            }
        }
    }
        h3{
            padding-top: 2rem;
            color: var(--titles-color);
        }
        .add{
            background-color: var(--char-color);
            border: none;
            padding: 0.5rem;
        }
    }
    .lower-nav{
        .download{
            padding: 0.5rem 0;
            a{
                color: var(--char-color);
                text-decoration: none;
            }
        }
        .account{
            color: var(--titles-color);
            padding: 0.5rem 0;
            font-weight: bold;
        }
    }
}



/* End Header */



/* Main */

.upgrade{
    background-color: var(--upgrade-section);
    justify-content: flex-end;
    button{
        border-color: white;
        border-radius: 50px;
        background-color: transparent;
        padding: 0.5rem 2rem;
    }
    a{
        font-weight: bold;
        color: var(--titles-color);
        text-decoration: none;
    }
}


/* End Main */





/* Footer */




/* End Footer */

/* Media query */

@media screen and (max-width: 480px) {
    
}