*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-nav: #000000;
    --upgrade-section: #080b12;
    --char-color: #787a7f;
    --titles-color: #ffffff;
    --playing-bar: #282828;
}

body{
    background-color: var(--upgrade-section);
    color: var(--char-color);
    font-family: 'Montserrat';
}

nav{
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-nav);
    width: 33%;
}

.logo{
    width: 300px;
}

